### Gradle ###
.gradle/
build/
!gradlew
!gradlew.bat
!**/src/main/**/build/
!**/src/test/**/build/

### Logs ###
*.log
logs/
*.out

### JAR / WAR (빌드 산출물은 무시) ###
*.jar
*.war
# Gradle Wrapper는 제외하지 않음
!gradle/wrapper/gradle-wrapper.jar

### OS Files ###
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Others ###
HELP.md
